[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = Cedric Vangout
	email = mail@cvng.dev
	signingkey = /Users/cvng/.ssh/id_ed25519.pub
[init]
	defaultBranch = main
[core]
	ignorecase = false
[rerere]
	enabled = true
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = /Users/cvng/.ssh/allowed-signers
[commit]
	gpgsign = true
[but "ui"]
